/*Schrijf hier jouw CSS*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

nav,
aside {
    flex-basis: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
}

nav {
    order: 1;
}

aside {
    order: 3;
}

main {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

article {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    order: 2;
}

