/*Schrijf hier jouw CSS*/
body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

div {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

header, footer {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.inner-row {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.inner-col {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

article {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

aside {
    flex-basis: 20vw;
}

nav,
aside {
    flex-basis: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
}